*{
    margin: 0;
    padding: 0;
}
main{
    height: 579px;
    background-image: linear-gradient(rgb(50, 110, 117), rgb(53, 163, 101));
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
h1{
    color: white !important;
    opacity: 0.7;
}
form{
    background-color: rgb(71, 128, 96);
    padding: 10px;
    border: 2px solid darkslategrey;
    border-radius: 15px;
    height: 350px;
    width: 400px;
}
